# Конфигурация карты map2

[map]
id = map2
name = "Desert Dunes"
description = "Пустынные дюны - локация среднего уровня"

[model]
predictor_path = models/predictor_map2.onnx
confidence_threshold = 0.65
input_size = 640,640

[click_zones]
exclude_0 = 0,0,250,120
exclude_1 = 1670,0,1920,1080
exclude_2 = 0,960,1920,1080

[limits]
x_min = -0.85
x_max = 0.85
y_min = -0.8
y_max = 0.8

[behavior]
stabilization_wait_ms = 250
max_action_delay_ms = 600
enable_micro_adjustments = true
