# Конфигурация карты map1
# Формат: ключ = значение

[map]
id = map1
name = "Forest Valley"
description = "Лесная долина - стартовая локация"

[model]
predictor_path = models/predictor_map1.onnx
confidence_threshold = 0.7
input_size = 640,640

[click_zones]
# Зоны исключения для кликов (x_min, y_min, x_max, y_max)
# UI элементы, инвентарь, кнопки
exclude_0 = 0,0,200,100
exclude_1 = 1720,0,1920,1080
exclude_2 = 0,980,1920,1080

[limits]
# Границы допустимых координат (нормализованные от -1 до 1)
x_min = -0.9
x_max = 0.9
y_min = -0.85
y_max = 0.85

[behavior]
# Поведенческие настройки
stabilization_wait_ms = 200
max_action_delay_ms = 500
enable_micro_adjustments = true
